<%- include ("partials/header")%>

<div class="mainSection" style = "background-color: rgb(111, 146, 223);">
    <div class = "container">
        <div class="row text-center pt-4">
            <div class="col">
                <h1>About us</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <img class = "img-fluid rounded-circle aboutImg" src = "/img/gallery5.jpg" alt = "picture of a musical group">
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <p class = "aboutP">spareparts is an indie band from Brooklyn. They blend elements of rock, emo, punk and pop with a dappling of nostalgic Americana and folk. From heartfelt sing-along choruses to screeching Hendrix-esque guitar leads, spareparts' influences span a wide range of musical styles and consequently, they have created something truly special.</p>
                <ul class = "aboutList">
                    <li>Billy Burke - Vocals, guitar</li>
                    <li>John Bagdonas - Guitar</li>
                    <li>Artem Ovsiy - Bass</li>
                    <li>Steve Hartstein - Drums</li>
                </ul>
                <p class = "aboutP" >All artwork is courtesy of our good friend Eli Isaenko</p>
            </div>
        </div>
    </div>
</div>

<%- include ("partials/footer")%>