<%- include ("partials/header")%>
<div class="mainSection d-flex align-items-center" style = "background-color: rgb(34, 31, 168);">
    <div class = "container" >
        <div class="row text-center">
            <div class="col">
                <h3>spareparts forum coming soon</h3>
               
            </div>
        </div>
    </div>
</div>
<%- include ("partials/footer")%>