<%- include ("partials/header")%>

<div class="mainSection d-flex align-items-center" style = "background-color: rgb(78, 163, 135);">
    <div class = "container" >
        <div class="row text-center">
            <div class="col">
                <p>Hi,</p>
                <p>for all inquiries</p>
                <p>contact us via Instagram</p>
                <p><a target = "_blank" href = "https://www.instagram.com/sparepartsny"><i class="fab fa-instagram fa-3x"></i></a></p>
            </div>
        </div>
    </div>
</div>

<%- include ("partials/footer")%>