<%- include ("partials/header")%>

<div class="mainSection bg-dark">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-4">
                <img class = "img-fluid customImg2" src = "/img/gallery1.jpg">
            </div>
            <div class="col-lg-4">
                <img class = "img-fluid customImg2" src = "/img/gallery2.jpg">
            </div>
            <div class="col-lg-4">
                <img class = "img-fluid customImg2" src = "/img/gallery3.jpg">
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-4">
                <img class = "img-fluid customImg2" src = "/img/gallery4.jpg">
            </div>
            <div class="col-lg-4">
                <img class = "img-fluid customImg2" src = "/img/gallery5.jpg">
            </div>
            <div class="col-lg-4">
                <img class = "img-fluid customImg2" src = "/img/gallery6.jpg">
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-4">
                <img class = "img-fluid customImg2" src = "/img/gallery7.jpg">
            </div>
            <div class="col-lg-4">
                <img class = "img-fluid customImg2" src = "/img/gallery8.jpg">
            </div>
            <div class="col-lg-4">
                <img class = "img-fluid customImg2" src = "/img/gallery9.jpg">
            </div>
        </div>
    </div>
</div>
<%- include ("partials/footer")%>
