<%- include ("partials/header")%>

<div class="mainSection d-flex align-items-center" style = "background-color: rgb(78, 132, 163);">
    <div class="container">
        <div class="row text-center m-4">
            <div class="col">
                <a href = "/songs"><h3>Listen</h3></a>
            </div>
        </div>
        <div class="row text-center m-4">
            <div class="col">
                <a href = "/gallery"><h3>Gallery</h3></a>
            </div>
        </div>
        <div class="row text-center m-4">
            <div class="col">
                <a href = "/community"><h3>Community</h3></a>
            </div>
        </div>
        <div class="row text-center m-4">
            <div class="col">
                <a href = "about"><h3>About us</h3></a>
            </div>
        </div>
        <div class="row text-center m-4">
            <div class="col">
                <a href = "/contact"><h3>Contact</h3></a>
            </div>
        </div>


    </div>
</div>

<%- include ("partials/footer")%>