<%- include ("../partials/header")%>
    <div class="mainSection" style = "background-color: rgb(149, 86, 86);">
      <div class="container">
        <div class = "row text-center pt-2">
          <div class = "col-12">
            <h3>I Knew You'd Call</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <iframe class = "customImg" style="border: 0; width: 350px; height: 442px; border-radius: 10px" src="https://bandcamp.com/EmbeddedPlayer/track=2249940257/size=large/bgcol=333333/linkcol=4ec5ec/tracklist=false/transparent=true/" seamless><a href="http://spareparts1.bandcamp.com/track/i-knew-youd-call">I Knew You&#39;d Call by spareparts</a></iframe>
          </div>
        </div>  
        <div class="row mt-2">
          <div class="col-6 text-right">
              <a class = "customButton" href = "/songs/thePuzzle">prev</a>
          </div>
          <div class="col-6">
            <a class = "customButton" href = "/songs/throughTheGlass">next</a>
          </div>
        </div>
          <div class="row">
            <div class="col text-center py-3">
            <!-- Lyrics partial goes here -->
            <%-include ("../partials/lyrics/iKnewYoudCallLyrics") %>
            </div>
          </div>
      </div>
    </div>
<%- include ("../partials/footer")%>
