<%- include ("../partials/header")%>
    <div class="mainSection d-flex align-items-center justify-content-center text-light" style = "background-color: rgba(14, 70, 144, 0.947);">
        <div class="container">
            <div class="row">
                <div class="col-md-4 my-4">
                    <a href = "/songs/throughTheGlass" ><img class = "img-fluid customImg" src = "/img/albumArt1.jpg" alt = "album art 1"></a>
                    <h3>Through the glass</h3>
                </div>
                <div class="col-md-4 my-4">
                    <a href = "/songs/thePuzzle" ><img class = "img-fluid customImg" src = "/img/albumArt2.jpg" alt = "album art 2"></a>
                    <h3>The Puzzle</h3>
                </div>
                <div class="col-md-4 my-4">
                    <a href = "/songs/iKnewYoudCall" ><img class = "img-fluid customImg" src = "/img/albumArt3.jpg" alt = "album art 3"></a>
                    <h3>I Knew You'd Call</h3>
                </div>
            </div>
        </div>
    </div>
<%- include ("../partials/footer")%>