<p>It felt so wrong, but felt so right<br>
    I thought we had it all<br>
    We lost sight and things began to fall<br>
    I was lazy, you were crazy <br>
    I thought maybe, we had it all<br>
  </p>
  <p>The things we did<br>
    And words you said<br>
    So insignificant<br>
    But where's the truth?<br>
    I think it lies..<br>
    Right between me and you<br>
    I knew you'd call<br>
  </p>  

  <p>The sky was grey<br>
    We were walking, losing our way<br>
    You were talking, I begged you to stay<br>
    Chocolate bars, unseen scars and love subpar<br>
    We have it all<br>
  </p>
  <p>The things we did<br>
    And words you said<br>
    So insignificant<br>
    But where's the truth?<br>
    I think it lies..<br>
    Right between me and you<br>
    I knew you'd call<br>
  </p> 