<p>Pick up the pieces of the puzzle now..Woah<br>
    Don't waist my time <br>
    We're way to young to let this all pass by <br>
    I think you'll find, that I'm always right<br>
    Don't sleep to late, trust me limbs regenerate<br>
    So let it go<br>
  </p>
  <p>
    The brighter side<br>
    It tends to get so fucking dark sometimes<br>
    we'll shed a light, make it hella tight<br>
    Waited for tomorrow<br>
    Tomorrow never ever seems to show<br>
  </p>
  <p>Puzzling looks all across your face<br>
    Its written all over you now, its clear as day<br>
    Puzzling looks fall across your face<br>
    Its written all over you now, its clear as day<br>
    Pick up the pieces,<br>
    Put the puzzle back into shape<br>
  </p>
  <p>Park Slope noon, Midwood never had much for us to do<br>
    Brighton's news came across in all the shades of blue,<br>
    violence and other colors flashed before<br>
    and make me so marooned<br>
  </p>
  <p>Tommy sheets, you toss and turn and pour me in the street<br>
    Hot and cold, Earthquake shake me down inside my soul<br>
    As I start to crack, you begin to back yourself away<br>
  </p>
  <p>Puzzling looks all across your face<br>
    Its written all over you now, its clear as day<br>
    Puzzling looks fall across your face<br>
    Its written all over you now, its clear as day<br>
    Pick up the pieces,<br>
    Put the puzzle back into shape<br>
    Pick up the pieces,<br>
    Put the puzzle back into shape<br>
  </p>
  <p>Pick up the pieces of the puzzle now<br>
    Pick up the pieces of the puzzle now<br>
    Pick up the pieces of the puzzle now<br>
    Pick up the pieces of the puzzle now<br>
  </p>
  <p>Pick up the pieces of the puzzle now<br>
    Pick up the pieces of the puzzle now<br>
    Pick up the pieces of the puzzle now<br>
    Pick up the pieces of the puzzle now<br>
  </p>
  <p>Pick up the pieces of the puzzle now</p>