<p>All of these conclusions coming around the bend<br>
    Shapes drawn in my mind, I'll leave you to find them<br>
    Lighter shades of blue, nondescript sweaters<br>
    Worn so well, worn so well<br>
    </p>  
    <p>Do you see better with glasses?<br>
       Cause you seem better with glasses<br>
       Short on substance, Long on neuroticism<br>
       Im looking at you through the glass<br>
       But I don't remember, no I don't remember<br>
       I don't remember you looking back<br>
    </p>
    <p>You made me feel alive, but you're a reminder<br>
       Of the places I can't hide<br>
       Or where I can find her<br>
       Lines drawn in my mind<br>
       Will I ever stand behind them?<br>
       Will I ever stand behind them?<br>
       I'll probably never fucking stand behind them<br>
   </p> 
   <p>Do you see better with glasses?<br>
       Cause you seem better with glasses<br>
       Short on substance, Long on neuroticism<br>
       Im looking at you through the glass<br>
       But I don't remember, no I don't remember<br>
       I don't remember you looking back<br>
   </p>   
   <p>The sight of you is just a reminder<br>
       The sight of you is just a reminder<br>
       The sight of you is just a reminder<br>
       The sight of you is just a reminder<br>
    </p>